/* mobile devices */

@media screen and (max-width: 576px) {
    .header {
        background-image: none;
    }

    img.profile-pic {
        width: 100%;
    }

    nav, nav > ul,
    .banner,
    .skills-container,
    .resume-container,
    footer,
    .about-info-container {
        flex-direction: column;
    }
    nav > ul {
        gap: 10px;
    }
    .btn-primary {
        margin-bottom: 20px;
    }

    .banner,
    #what-i-do-description {
        padding: 20px;
    }

    .about,
    footer {
        padding: 10px;
    }

    .footer-column {
        width: 100%;
    }

    .Contact input[type="text"],
    input[type="email"],
    textarea {
        width: 80%;
    }

}

@media screen and (min-width: 576px) and (max-width: 960px) {
    footer {
        padding: 30px;
    }
    .btn-primary {
        margin-bottom: 20px;
    }
}